/*=======================================
    CUSTOM STYLES
    ==================================================*/


    form {
      text-align: left
    }
    .btn {
      float: right;
    }
    .form-control, textarea{
      margin-bottom: 5px;
      width: 100%;
    }
    .hidden {
      display: none;
    }
    .log {
      color: white;
    }
    #map {
      height: 300px;
    }
    form > div > .btn {
      margin-right: 15px;
      background-color: rgba(0, 255, 140, 0.1);
      border-color: #fff;
    }
    form > div > .btn:hover{
      background-color: #27C00A;
      border-color: #fff;
    }
    .log:-moz-placeholder{ /*Firefox 4-18*/
      color: white;
    }
    .log::-moz-placeholder{ /*Firefox 19+*/
      color: white;
    }
    .log::-webkit-input-placeholder{ /*Safari, Chrome, Opera 15+*/
      color: white;
    }
    #preview > img {
      max-height: 70px;
      margin: 3px;
    }
    #preview > img, .file {
      border-color: #adabab;
      border-style: dotted;
      border-radius: 10px;
      border-width: 2px;
      padding: 2px;
    }
    #my_file {
      height: 100%;
      width: 100%;
      opacity: 0;
    }
    .file {
      background-image: url("../img/add.png");
      background-size: cover;
      vertical-align: middle;
      text-align: center;
      font-size: 20px;
      height: 70px;
      width: 70px;
      color: #cccccc;
      position: relative;
      display: inline-block;
    }
    .pw {
      display: inline;
      border-right: 0px;
    }
    .mata {
      background-color: transparent;
    }
    .btn {
      border-radius: 0px;
    }
    .morecontent span {
      display: none;
    }
    .morelink {
      display: block;
    }
    .more {
      text-align: left;
    }
    .group-detail > button {
      margin: 5px;
    }
    .tmbl-edit, .tmbl-hps, .group-detail > a > .btn {
      margin: 5px;
    }
    .dropdown-menu{
      background: #27C00A;
    }
    .dropdown-menu > li >a:hover {
      background: #05A250;
    }
    .navbar-inverse .navbar-nav > .open > a, 
    .navbar-inverse .navbar-nav > .open > a:hover, 
    .navbar-inverse .navbar-nav > .open > a:focus {
      background-color: #05A250;
    }
    .panel-custom > .panel-heading {
      background-color: transparent;
    }