/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */



/*=======================================
    GENERAL STYLES
    ==================================================*/
    body {
      font-family: 'Open Sans', sans-serif;
      font-size:14px;
    }

    .text-center {
      text-align:center;
    }

    h1, h2, h3, h4, h5, h6 {
     font-family: 'Open Sans', sans-serif;
   }

   h1 {
    margin-top:320px;
    text-transform:uppercase;
    
  }
  h2 {
    color:#27C00A;
  }
  h2:after {
    display: block;
    content: "";
    height: 2px;
    width: 150px;
    background: #27C00A;
    margin: 10px auto 10px;

  }  
  h3 {
    line-height:30px;
    padding-bottom:20px;
  }
  h4 {
    line-height:40px;
  }

  p {
    font-weight:300;
    line-height:30px;
    padding-bottom:20px;
  }

  .space-pad {
    padding-bottom:50px;
    padding-top:50px;
  }


  section {
    padding-top:50px;
    padding-bottom:40px;
  }

/*=======================================
    COLOR CODES
    ==================================================*/
    .main-color {
      color: #27C00A;
    }

/*=======================================
    NAVIGATION STYLES
    ==================================================*/
    .navbar a {
      color:#ffffff !important;
    }
    .navbar-header a {
      color:#ffffff !important;
      padding-right:100px;
    }

    nav {
     position: absolute;
     width: 100%;
     background: #fff;
     z-index:99;
   }
   .fixed {
     position: fixed; 
     top: 0; 
     min-height: 50px; 
     z-index: 99;
   }

   .navbar-inverse {
    background-color: #27C00A;
    border-color: #05A250;
  }


/*=======================================
    HEADER STYLES
    ==================================================*/

    .head-main {
      margin-top:320px;
      text-transform: uppercase;
      font-size: 70px !important;
      font-weight: 900!important;
      color:#fff;
    }
    .head-main:after {
      display: block;
      content: "Media Lapor / Curhat dan Suara Rakyat";
      height: 1px;
      width: 370px;
      background: #fff;
      margin: 25px auto auto 25px;
      text-align: center;
      font-size: 12px;
    }   
    .head-sub-main {
      font-size:40px !important;
      font-weight:600!important;
      padding:5px 20px 30px 20px;
      color: #fff;
    }
    .head-last {
      margin: 0px 25px 0 25px;

      padding:0px 20px 250px 20px;
      color:#fff;
    }
    #home {
      background-image: url("../img/head1.png");
      background-repeat: no-repeat;
      background-position: center 0;
      background-size:cover;
      background-attachment: fixed;
      min-height:650px;
    }
    .div-trans {
      padding:5px;
      background-color: rgba(25, 219, 75, 0.5);
      min-height: 250px;
      margin-top: 200px;
      color: #fff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-bottom:30px;
    }
    .div-trans .form-control {
      background-color: rgba(255, 255, 255, 0);
    }
    @media (max-width: 767px) {
      .head-main {
        font-size: 50px !important;
        font-weight: 500!important;
      }
      .head-main:after {
        width: 250px;
        font-size: 10px;
      }
      #home {
        background-image: url("../img/head2.png");
      }
      .div-trans {
        width: 70%;
      }
    }

/*=======================================
    Parallax  STYLES
    ==================================================*/

    #Parallax-one {
      background-image: url("../img/1.jpg");
      padding: 30px;
      background-repeat: no-repeat;
      background-position: center 0;
      background-size: cover;
      background-attachment: fixed;
      min-height:250px;
      color:#fff;
    }
    #Parallax-one i {
      color:#fff;
    }

    #Parallax-two {
      color:#fff;
      padding:30px;
      min-height:400px;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center 0;
      background-image: url("../img/head1.jpg");
    }
    #Parallax-two i {
      color:#fff;
    }

/*=======================================
    FOOTER STYLES
    ==================================================*/

    #footer {
      color:#fff;
      text-align:right;
      background-color:#27C00A;
      padding:20px 50px 20px 50px;
    }